In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
covid_df = pd.read_csv('data/california_covid_cases.csv')

In [9]:
covid_df.sort_values('date', ascending=False).head(20)

,county,totalcountconfirmed,totalcountdeaths,newcountconfirmed,newcountdeaths,date
7144,Yolo,1002.0,29.0,36,0,2020-07-15
2266,Mendocino,119.0,0.0,9,0,2020-07-15
3705,Lake,122.0,1.0,2,0,2020-07-15
5464,Sacramento,6217.0,92.0,239,1,2020-07-15
479,Tuolumne,68.0,0.0,0,0,2020-07-15
6424,San Bernardino,21508.0,310.0,1019,1,2020-07-15
1438,Orange,27718.0,455.0,803,22,2020-07-15
2386,Fresno,9124.0,91.0,183,0,2020-07-15
239,San Mateo,4258.0,114.0,85,0,2020-07-15
3809,Modoc,0.0,0.0,0,0,2020-07-15
3929,Tulare,6320.0,153.0,121,0,2020-07-15
2506,Inyo,36.0,1.0,1,0,2020-07-15
5344,Los Angeles,143343.0,3932.0,2711,38,2020-07-15
2146,Santa Cruz,660.0,3.0,21,0,2020-07-15
6664,Plumas,16.0,0.0,2,0,2020-07-15
4049,San Benito,388.0,2.0,28,0,2020-07-15
5224,Napa,573.0,4.0,16,0,2020-07-15
4169,Alameda,8615.0,154.0,227,2,2020-07-15
718,Placer,1145.0,11.0,23,0,2020-07-15
4289,Marin,3458.0,28.0,7,0,2020-07-15

In [ ]:
#remove dates before May 12?

In [15]:
covid_df.groupby('county').agg({'newcountconfirmed':'mean','newcountdeaths':'mean'})

                 newcountconfirmed  newcountdeaths
county
Alameda                  71.791667        1.283333
Alpine                    0.009259        0.000000
Amador                    0.366667        0.000000
Butte                     3.500000        0.033333
Calaveras                 0.625000        0.000000
Colusa                    1.125000        0.000000
Contra Costa             43.716667        0.766667
Del Norte                 0.500000        0.000000
El Dorado                 2.825000        0.000000
Fresno                   76.033333        0.758333
Glenn                     1.533333        0.000000
Humboldt                  1.508333        0.033333
Imperial                 59.250000        1.233333
Inyo                      0.300000        0.008333
Kern                     59.625000        0.816667
Kings                    24.216667        0.333333
Lake                      1.025210        0.008403
Lassen                    2.658333        0.000000
Los Angeles            1194.525000       32.766667
Madera                    9.558333        0.083333
Marin                    28.816667        0.233333
Mariposa                  0.283333        0.008333
Mendocino                 0.991667        0.000000
Merced                   17.966667        0.125000
Modoc                     0.000000        0.000000
Mono                      0.433333        0.008333
Monterey                 23.166667        0.150000
Napa                      4.775000        0.033333
Nevada                    1.541667        0.008333
Orange                  230.983333        3.791667
Out Of Country            0.000000        0.000000
Placer                    9.541667        0.091667
Plumas                    0.133333        0.000000
Riverside               237.433333        4.808333
Sacramento               51.808333        0.766667
San Benito                3.233333        0.016667
San Bernardino          179.233333        2.583333
San Diego               178.733333        3.733333
San Francisco            39.641667        0.416667
San Joaquin              61.508333        0.608333
San Luis Obispo           9.141667        0.050000
San Mateo                35.483333        0.950000
Santa Barbara            39.441667        0.258333
Santa Clara              57.500000        1.441667
Santa Cruz                5.500000        0.025000
Shasta                    1.608333        0.050000
Sierra                    0.008403        0.000000
Siskiyou                  0.316667        0.000000
Solano                   19.525000        0.258333
Sonoma                   16.000000        0.133333
Stanislaus               48.141667        0.508333
Sutter                    3.608333        0.033333
Tehama                    1.050000        0.008333
Trinity                   0.016667        0.000000
Tulare                   52.666667        1.275000
Tuolumne                  0.566667        0.000000
Unassigned                0.083333        0.000000
Ventura                  42.391667        0.441667
Yolo                      8.350000        0.241667
Yuba                      1.841667        0.025000

,Unnamed: 0,Hillary Clinton,Bernie Sanders,Roque\nDe La Fuente,Henry Hewes,Keith\nJudd,Michael Steinberg,Willie Wilson,Kevin M. Moreau,Willie Felix Carter,...,Darryl W. Perry,Austin Petersen,Derrick M. Reid,Rhett White Feather Smith,Joy Waymire,John \nHale,"Jack Robinson, Jr.",Gloria Estela La Riva,Lynn S. Kahn,Monica Moorehead
0,NaN,DEM,DEM,DEM,DEM,DEM,DEM,DEM,DEM (W/I),DEM (W/I),...,LIB,LIB,LIB,LIB,LIB,LIB,LIB,PF,PF,PF
1,Alameda,164889,153955,249,322,211,333,462,0,0,...,17,44,17,69,29,41,30,135,39,86
2,Percent,51.5,48,0.1,0.1,0.1,0.1,0.1,0,0,...,1.4,3.7,1.4,5.8,2.4,3.4,2.5,51.9,15,33.1
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alpine,113,137,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Yuba,2388,2771,9,14,26,39,44,0,0,...,3,5,2,6,2,3,1,3,2,6
173,Percent,45.1,52.4,0.2,0.3,0.5,0.7,0.8,0,0,...,3.3,5.4,2.2,6.5,2.2,3.3,1.1,27.3,18.2,54.5
174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,State Totals,2745302,2381722,8453,7743,7201,10880,12014,0,3,...,521,1853,462,1531,923,873,739,2475,1041,1487
176,Percent,53.1,46,0.2,0.1,0.1,0.2,0.2,0,0,...,1.7,5.9,1.5,4.9,3,2.8,2.4,49.5,20.8,29.7